<div class="row">
	<aside class="span4">
		<section>
			<%= gravatar_for @user %>
			<h1><%= @user.name %></h1>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<%= link_to "Timeline", timeline_user_path(@user) %>
	</aside>
	<div class="span8">
		<%= render 'follow_form' %>
		<h3>Microposts (<%= @user.microposts.count %>)</h3>
		<% if @user.microposts.any? %>
			<ul class="microposts">
				<%= render @microposts %>
			</ul>
			<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>