<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="span8">
		<h3><%= @user.name %>'s Timeline</h3>
		<% if @timeline.any? %>
			<%= render partial: 'shared/feed_item', collection: @timeline %>
			<%= will_paginate @timeline %>
		<% end %>
	</div>
</div>